.calendar-event
    .calendar-event__employee
        img.calendar-event__employee-photo(src="https://www.placecage.com/c/54/54" alt="Employee image")
        .calendar-event__employee-name Aute Consequat
    .calendar-event__information
        .calendar-event__date.calendar-event__date--vacation 09.08.2019 — 23.08.2019 (14д.)
        .calendar-event__name отпуск