@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$color-blue: #eaf9ff;
$color-marine: #1ebeb4;
$color-red: #f16953;
$color-yellow: #fcc659;
$color-white: #ffffff;
$color-black: #000000;
$color-default: #232323;
$color-grey-background: #f7f7f7;
$color-left-border: #393a3f;
$color-background-active-button: #556080;
$color-active-button: #cacaca;

html {
	height: 100%;
	overflow: visible;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: $color-default;
	height: 100%;
}

.github-link {
	padding: 10px 20px;
	height: 36px;
	background: $color-grey-background;
	a {
		color: $color-default;
		text-decoration: none;
	}
}

h1 {
	font-size: 32px;
	margin: 10px 16px 20px;
}

.wrapper {
	width: 1080px;
	min-height: calc(100% - 36px);
	padding: 30px 20px;
	border-left: 100px solid $color-left-border;
}

.dashboard {
	padding: 6px 16px;
	background: $color-grey-background;
	margin-bottom: 22px;
	&__button {
		background: $color-white;
		border-radius: 2px;
		font-size: 14px;
		color: $color-active-button;
		line-height: 12px;
		border: none;
		outline: none;
		padding: 17px 36px 16px;
		margin-right: 20px;
		&.active {
			background: $color-background-active-button;
			color: $color-active-button;
		}
	}
}

.vacation {
	&__header {
		background: $color-grey-background;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 17px 20px 11px;
	}
	&__header-title {
		font-size: 18px;
	}
	&__header-year {
		font-size: 18px;
		margin: 0 8px;
	}
	&__header-button {
		background: transparent;
		border: none;
		outline: none;
	}
	&__table {
		width: 100%;
		margin-bottom: 60px;
		text-align: center;
		tr {
			border-bottom: 1px solid $color-grey-background;
		}
	}
	&__table-header {
		background: $color-grey-background;
		font-size: 10px;
		text-align: center;
		td {
			padding: 6px 0 8px;
			&:first-child {
				text-align: left;
				padding-left: 20px;
			}
		}
	}
	&__table-body {
		td {
			padding: 8px 0;
			vertical-align: middle;
			&:first-child {
				text-align: left;
			}
			&:nth-child(1),
			&:nth-child(2) {
				padding-right: 10px;
			}
		}
	}
	&__employee-photo {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: 8px;
	}
	&__employee-name {
		display: inline-block;
		width: 40px;
	}
}

.calendar {
	&__month {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 16px 0;
		position: relative;
		&:hover {
			.calendar-event {
				display: block;
			}
		}
	}
	&__week {
		display: flex;
		width: 8px;
		height: 16px;
		flex-direction: column;
		margin: 0 1px;
	}
	&__empty {
		width: 100%;
		height: 100%;
	}
	&__day {
		width: 100%;
		height: 100%;
		background: $color-blue;
		&--old-day {
			background: $color-blue;
		}
		&--vacation {
			background: $color-marine;
		}
		&--red {
			background: $color-red;
		}
		&--yellow {
			background: $color-yellow;
		}
	}
}

.calendar-event {
	position: absolute;
	padding: 17px;
	box-shadow: 0 0 4px 0 rgba(107, 107, 107, 0.5);
	border-radius: 4px;
	background: $color-white;
	width: 345px;
	height: 146px;
	z-index: 9;
	text-align: left;
	top: 120%;
	left: 70%;
	display: none;
	&__employee {
		display: flex;
		align-items: flex-start;
		margin-bottom: 17px;
	}
	&__employee-photo {
		width: 54px;
		height: 54px;
		border-radius: 50%;
		margin-right: 16px;
	}
	&__employee-name {
		font-size: 14px;
		font-weight: bold;
		color: $color-black;
		width: 60px;
	}
	&__date {
		color: $color-black;
		font-size: 14px;
		border-left: 12px solid $color-white;
		padding-left: 8px;
		height: 16px;
		line-height: 16px;
		margin-bottom: 2px;
		&--vacation {
			border-left-color: $color-marine;
		}
		&--red {
			border-left-color: $color-red;
		}
		&--yellow {
			border-left-color: $color-yellow;
		}
	}
	&__name {
		font-size: 14px;
		color: #aeaeae;
		padding-left: 20px;
	}
}
