doctype html
html(lang="en")
    head
        title iDex
        link(rel='stylesheet' href='css/reset.css')
        link(rel='stylesheet' href='css/style.css')
    body
        .github-link
            a(href="https://github.com/dzadranik/i-dex") https://github.com/dzadranik/i-dex
        main.wrapper

        script(type='text/javascript' src="js/script.min.js")